<!-- pokud je v ejs syntaxi rovnitko, vyrendureje se to jako text. pokud %- tak jako html 
     include() je ejs funkce  -->

<%- include('./includes/head.ejs') %>



</head>

<body>

<%- include('./includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>

<%- include('./includes/end.ejs') %>